.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;

    transition: .3s;
}

.item-enter {
    opacity: 0;
}

.item-exit {
    opacity: 1;
}

@media (max-width: 1280px) {
     .list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        width: 100%;
    }
}